In [3]:
import torch
import pickle
import json
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import torch.nn as nn
from matplotlib import pyplot as plt
import spacy
import re

In [4]:
nlp = spacy.load("en_core_web_sm")

In [5]:
dirname = '../Dataset_v3/chunks/CharlesDickens/ATaleOfTwoCities_chunkByLength_128.csv'
charles1 = pd.read_csv(dirname)
print("Charles ATaleOfTwoCities_chunkByLength_128: {0} ".format(charles1.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/BarnabyRudge_chunkByLength_128.csv'
charles2 = pd.read_csv(dirname)
print("charles BarnabyRudge_chunkByLength_128: {0}" .format(charles2.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/DavidCopperfield_chunkByLength_128.csv'
charles3 = pd.read_csv(dirname)
print("charles DavidCopperfield_chunkByLength_128: {0}" .format(charles3.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/DombeyAndSon_chunkByLength_128.csv'
charles4 = pd.read_csv(dirname)
print("charles DombeyAndSon_chunkByLength_128: {0}" .format(charles4.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/GreatExpectations_chunkByLength_128.csv'
charles5 = pd.read_csv(dirname)
print("charles GreatExpectations_chunkByLength_128: {0}" .format(charles5.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/LittleDorrit_chunkByLength_128.csv'
charles6 = pd.read_csv(dirname)
print("charles LittleDorrit_chunkByLength_128: {0}" .format(charles6.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/OliverTwist_chunkByLength_128.csv'
charles7 = pd.read_csv(dirname)
print("charles OliverTwist_chunkByLength_128: {0}" .format(charles7.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/OurMutualFriend_chunkByLength_128.csv'
charles8 = pd.read_csv(dirname)
print("charles OurMutualFriend_chunkByLength_128: {0}" .format(charles8.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/TheChimes_chunkByLength_128.csv'
charles9 = pd.read_csv(dirname)
print("charles TheChimes_chunkByLength_128: {0}" .format(charles9.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/TheLifeAndAdventuresOfMartinChuzzlewit_chunkByLength_128.csv'
charles10 = pd.read_csv(dirname)
print("charles TheLifeAndAdventuresOfMartinChuzzlewit_chunkByLength_128: {0}" .format(charles10.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/TheLifeAndAdventuresOfNicholasNickleby_chunkByLength_128.csv'
charles11 = pd.read_csv(dirname)
print("charles TheLifeAndAdventuresOfNicholasNickleby_chunkByLength_128: {0}" .format(charles11.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/TheMysteryOfEdwinDrood_chunkByLength_128.csv'
charles12 = pd.read_csv(dirname)
print("charles TheMysteryOfEdwinDrood_chunkByLength_128: {0}" .format(charles12.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/TheOldCuriosityShop_chunkByLength_128.csv'
charles13 = pd.read_csv(dirname)
print("charles TheOldCuriosityShop_chunkByLength_128: {0}" .format(charles13.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/ThePickwickPapers_chunkByLength_128.csv'
charles14 = pd.read_csv(dirname)
print("charles ThePickwickPapers_chunkByLength_128: {0}" .format(charles14.shape))

Charles ATaleOfTwoCities_chunkByLength_128: (1197, 11)
charles BarnabyRudge_chunkByLength_128: (2270, 11)
charles DavidCopperfield_chunkByLength_128: (3158, 11)
charles DombeyAndSon_chunkByLength_128: (3194, 11)
charles GreatExpectations_chunkByLength_128: (1644, 11)
charles LittleDorrit_chunkByLength_128: (2978, 11)
charles OliverTwist_chunkByLength_128: (1396, 11)
charles OurMutualFriend_chunkByLength_128: (2849, 11)
charles TheChimes_chunkByLength_128: (267, 11)
charles TheLifeAndAdventuresOfMartinChuzzlewit_chunkByLength_128: (2976, 11)
charles TheLifeAndAdventuresOfNicholasNickleby_chunkByLength_128: (2872, 11)
charles TheMysteryOfEdwinDrood_chunkByLength_128: (844, 11)
charles TheOldCuriosityShop_chunkByLength_128: (1947, 11)
charles ThePickwickPapers_chunkByLength_128: (2677, 11)

In [12]:

dirname = '../Dataset_v3/chunks/Fitzgerald/The_Great_Gatsby_chunkByLength_128.csv'
Fitzgerald1 = pd.read_csv(dirname)
print("Fitzgerald The_Great_Gatsby: {0}".format(Fitzgerald1.shape))

dirname = '../Dataset_v3/chunks/Fitzgerald/TheBeautifulAndDamned_chunkByLength_128.csv'
Fitzgerald2 = pd.read_csv(dirname)
print("Fitzgerald TheBeautifulAndDamned_chunkByLength_128: {0}".format(Fitzgerald2.shape))

dirname = '../Dataset_v3/chunks/Fitzgerald/ThisSideOfParadise_chunkByLength_128.csv'
Fitzgerald3 = pd.read_csv(dirname)
print("Fitzgerald ThisSideOfParadise_chunkByLength_128: {0}".format(Fitzgerald3.shape))

dirname = '../Dataset_v3/chunks/Fitzgerald/FlappersAndPhilosophers_chunkByLength_128.csv'
Fitzgerald4 = pd.read_csv(dirname)
print("Fitzgerald FlappersAndPhilosophers_chunkByLength_128: {0}".format(Fitzgerald4.shape))

dirname = '../Dataset_v3/chunks/Fitzgerald/TalesOfTheJazzAge_chunkByLength_128.csv'
Fitzgerald5 = pd.read_csv(dirname)
print("Fitzgerald TalesOfTheJazzAge_chunkByLength_128: {0}".format(Fitzgerald5.shape))

Fitzgerald The_Great_Gatsby: (413, 11)
Fitzgerald TheBeautifulAndDamned_chunkByLength_128: (1074, 11)
Fitzgerald ThisSideOfParadise_chunkByLength_128: (703, 11)
Fitzgerald FlappersAndPhilosophers_chunkByLength_128: (522, 11)
Fitzgerald TalesOfTheJazzAge_chunkByLength_128: (709, 11)

In [13]:

dirname = '../Dataset_v3/chunks/Jane/Pride_and_Prejudice_Jane_Austen_chunkByLength_128.csv'
Jane1 = pd.read_csv(dirname)
print("Jane Pride_and_Prejudice_Jane_Austen_chunkByLength_128: {0}".format(Jane1.shape))

dirname = '../Dataset_v3/chunks/Jane/Emma_Jane_Austen_chunkByLength_128.csv'
Jane2 = pd.read_csv(dirname)
print("Jane Emma_Jane_Austen_chunkByLength_128: {0}".format(Jane2.shape))

dirname = '../Dataset_v3/chunks/Jane/MansfieldPark_chunkByLength_128.csv'
Jane3 = pd.read_csv(dirname)
print("Jane MansfieldPark_chunkByLength_128: {0}".format(Jane3.shape))

dirname = '../Dataset_v3/chunks/Jane/NorthangerAbbey_chunkByLength_128.csv'
Jane4 = pd.read_csv(dirname)
print("Jane NorthangerAbbey_chunkByLength_128: {0}".format(Jane4.shape))

dirname = '../Dataset_v3/chunks/Jane/Persuasion_chunkByLength_128.csv'
Jane5 = pd.read_csv(dirname)
print("Jane Persuasion_chunkByLength_128: {0}".format(Jane5.shape))

dirname = '../Dataset_v3/chunks/Jane/SenseAndSensibility_chunkByLength_128.csv'
Jane6 = pd.read_csv(dirname)
print("Jane SenseAndSensibility_chunkByLength_128: {0}".format(Jane6.shape))

Jane Pride_and_Prejudice_Jane_Austen_chunkByLength_128: (1078, 11)
Jane Emma_Jane_Austen_chunkByLength_128: (1390, 11)
Jane MansfieldPark_chunkByLength_128: (1442, 11)
Jane NorthangerAbbey_chunkByLength_128: (693, 11)
Jane Persuasion_chunkByLength_128: (746, 11)
Jane SenseAndSensibility_chunkByLength_128: (1078, 11)

In [14]:
dirname = '../Dataset_v3/chunks/Mark/TheAdventuresOfTomSawyer_chunkByLength_128.csv'
Mark1 = pd.read_csv(dirname)
print("Mark TheAdventuresOfTomSawyer: {0}".format(Mark1.shape))

dirname = '../Dataset_v3/chunks/Mark/ThePrinceAndThePauper_chunkByLength_128.csv'
Mark2 = pd.read_csv(dirname)
print("Mark ThePrinceAndThePauper_chunkByLength_128: {0}".format(Mark2.shape))


dirname = '../Dataset_v3/chunks/Mark/AConnecticutYankeeInKingArthursCourt_chunkByLength_128.csv'
Mark3 = pd.read_csv(dirname)
print("Mark AConnecticutYankeeInKingArthursCourt_chunkByLength_128: {0}".format(Mark3.shape))


dirname = '../Dataset_v3/chunks/Mark/LifeOnTheMississippi_chunkByLength_128.csv'
Mark4 = pd.read_csv(dirname)
print("Mark LifeOnTheMississippi_chunkByLength_128: {0}".format(Mark4.shape))

dirname = '../Dataset_v3/chunks/Mark/TheMysteriousStranger_chunkByLength_128.csv'
Mark5 = pd.read_csv(dirname)
print("Mark TheMysteriousStranger_chunkByLength_128: {0}".format(Mark5.shape))

dirname = '../Dataset_v3/chunks/Mark/TheTragedyOfPuddnheadWilson_chunkByLength_128.csv'
Mark6 = pd.read_csv(dirname)
print("Mark TheTragedyOfPuddnheadWilson_chunkByLength_128: {0}".format(Mark6.shape))

Mark TheAdventuresOfTomSawyer: (604, 11)
Mark ThePrinceAndThePauper_chunkByLength_128: (590, 11)
Mark AConnecticutYankeeInKingArthursCourt_chunkByLength_128: (1035, 11)
Mark LifeOnTheMississippi_chunkByLength_128: (1250, 11)
Mark TheMysteriousStranger_chunkByLength_128: (366, 11)
Mark TheTragedyOfPuddnheadWilson_chunkByLength_128: (450, 11)

In [15]:
dirname = '../Dataset_v3/chunks/Various/AlicesAdventuresInWonderlandByLewisCarroll_chunkByLength_128.csv'
Various1 = pd.read_csv(dirname)
print("Various AlicesAdventuresInWonderlandByLewisCarroll_chunkByLength_128: {0}".format(Various1.shape))


dirname = '../Dataset_v3/chunks/Various/AModestProposalByJonathanSwift_chunkByLength_128.csv'
Various2 = pd.read_csv(dirname)
print("Various AModestProposalByJonathanSwift_chunkByLength_128: {0}".format(Various2.shape))

dirname = '../Dataset_v3/chunks/Various/FrankensteinOrTheModernPrometheusByMaryWollstonecraftShelley_chunkByLength_128.csv'
Various3 = pd.read_csv(dirname)
print("Various FrankensteinOrTheModernPrometheusByMaryWollstonecraftShelley_chunkByLength_128: {0}".format(Various3.shape))

dirname = '../Dataset_v3/chunks/Various/MetamorphosisByFranzKafka_chunkByLength_128.csv'
Various4 = pd.read_csv(dirname)
print("Various MetamorphosisByFranzKafka_chunkByLength_128: {0}".format(Various4.shape))

dirname = '../Dataset_v3/chunks/Various/MobyDickOrTheWhalebyHermanMelville_chunkByLength_128.csv'
Various5 = pd.read_csv(dirname)
print("Various MobyDickOrTheWhalebyHermanMelville_chunkByLength_128: {0}".format(Various5.shape))

dirname = '../Dataset_v3/chunks/Various/TheAdventuresofSherlockHolmesbyArthurConanDoyle_chunkByLength_128.csv'
Various6 = pd.read_csv(dirname)
print("Various TheAdventuresofSherlockHolmesbyArthurConanDoyle_chunkByLength_128: {0}".format(Various6.shape))

dirname = '../Dataset_v3/chunks/Various/TheImportanceOfBeingEarnestATrivialComedyForSeriousPeopleByOscarWilde_chunkByLength_128.csv'
Various7 = pd.read_csv(dirname)
print("Various TheImportanceOfBeingEarnestATrivialComedyForSeriousPeopleByOscarWilde_chunkByLength_128: {0}".format(Various7.shape))


dirname = '../Dataset_v3/chunks/Various/TheScarletLetterbyNathanielHawthorne_chunkByLength_128.csv'
Various8 = pd.read_csv(dirname)
print("Various TheScarletLetterbyNathanielHawthorne_chunkByLength_128: {0}".format(Various8.shape))

dirname = '../Dataset_v3/chunks/Various/TheStrangeCaseofDrJekyllandMrHydebyRobertLouisStevenson_chunkByLength_128.csv'
Various9 = pd.read_csv(dirname)
print("Various TheStrangeCaseofDrJekyllandMrHydebyRobertLouisStevenson_chunkByLength_128: {0}".format(Various9.shape))

dirname = '../Dataset_v3/chunks/Various/TheYellowWallpaperbyCharlottePerkinsGilman_chunkByLength_128.csv'
Various10 = pd.read_csv(dirname)
print("Various TheYellowWallpaperbyCharlottePerkinsGilman_chunkByLength_128: {0}".format(Various10.shape))

Various AlicesAdventuresInWonderlandByLewisCarroll_chunkByLength_128: (230, 11)
Various AModestProposalByJonathanSwift_chunkByLength_128: (31, 11)
Various FrankensteinOrTheModernPrometheusByMaryWollstonecraftShelley_chunkByLength_128: (660, 11)
Various MetamorphosisByFranzKafka_chunkByLength_128: (202, 11)
Various MobyDickOrTheWhalebyHermanMelville_chunkByLength_128: (1871, 11)
Various TheAdventuresofSherlockHolmesbyArthurConanDoyle_chunkByLength_128: (899, 11)
Various TheImportanceOfBeingEarnestATrivialComedyForSeriousPeopleByOscarWilde_chunkByLength_128: (168, 11)
Various TheScarletLetterbyNathanielHawthorne_chunkByLength_128: (753, 11)
Various TheStrangeCaseofDrJekyllandMrHydebyRobertLouisStevenson_chunkByLength_128: (231, 11)
Various TheYellowWallpaperbyCharlottePerkinsGilman_chunkByLength_128: (52, 11)

In [16]:
charleslist = [charles1, charles2, charles3, charles4, charles5, charles6, charles7,
              charles8, charles9, charles10, charles11,charles12,charles13,charles14]
marklist = [Mark1, Mark2, Mark3, Mark4, Mark5, Mark6]
variouslsit = [Various1, Various2, Various3, Various4, Various5, Various6, Various7, Various8,
              Various9, Various10]
janelist = [Jane1, Jane2, Jane3, Jane4, Jane5, Jane6]
fitzgeraldlist = [Fitzgerald1, Fitzgerald2, Fitzgerald3, Fitzgerald4,Fitzgerald5]

In [21]:
# 30269 Charles Dickens 
# 4295 Mark Twain
# 5097 various 
# 6427 Jane Austen
# 3421 Fitzgerald

totcount = 0
for df in janelist:
    totcount += df.shape[0]
totcount

6427

* Mark Twain: Mark + Various
* Fitzgerald: Fitzgerald + Various 
* Charles: Charles + all

In [28]:
df_charles = pd.concat(charleslist,ignore_index=True)
df_charles['Label'] = "1"
df_charles = df_charles[['Text','Label']]

df_others = pd.concat(marklist +variouslsit+ janelist +fitzgeraldlist,ignore_index=True)
df_others['Label'] = "0"
df_others = df_others[['Text','Label']]

df_charles_f = pd.concat([df_charles,df_others],ignore_index=True)
print(df_charles_f.shape[0])
df_charles_f.Label.describe()

49509

count     49509
unique        2
top           1
freq      30269
Name: Label, dtype: object

In [29]:
df_mark = pd.concat(marklist,ignore_index=True)
df_mark['Label'] = "1"
df_mark = df_mark[['Text','Label']]

df_others = pd.concat(variouslsit,ignore_index=True)
df_others['Label'] = "0"
df_others = df_others[['Text','Label']]

df_mark_f = pd.concat([df_mark,df_others],ignore_index=True)
print(df_mark_f.shape[0])
df_mark_f.Label.describe()

9392

count     9392
unique       2
top          0
freq      5097
Name: Label, dtype: object

In [30]:
df_fitzgerald = pd.concat(fitzgeraldlist,ignore_index=True)
df_fitzgerald['Label'] = "1"
df_fitzgerald = df_fitzgerald[['Text','Label']]

df_others = pd.concat(variouslsit,ignore_index=True)
df_others['Label'] = "0"
df_others = df_others[['Text','Label']]

df_fitzgerald_f = pd.concat([df_fitzgerald,df_others],ignore_index=True)
print(df_fitzgerald_f.shape[0])
df_fitzgerald_f.Label.describe()

8518

count     8518
unique       2
top          0
freq      5097
Name: Label, dtype: object

In [31]:
# apply on the df['Text']
# retain all columns and add addtional columns spacy_words
def NER_replace(df):
    df['spacy_words'] = df['Text'].apply(lambda x: list(nlp(x).ents))
    for index, row in df.iterrows():
        thistext = row.Text
        for ent in row.spacy_words:
            if ent.label_ in ['PERSON','FAC','GPE','LOC','ORG']:
                thistext = thistext.replace(ent.text,ent.label_)
        df.at[index, 'Text'] = thistext
    return df

In [32]:
df_fitzgerald_f = NER_replace(df_fitzgerald_f)

In [41]:
df_mark_f = NER_replace(df_mark_f)
df_charles_f = NER_replace(df_charles_f)

In [39]:
df_fitzgerald_f.Text[3]

'Only PERSON, the man who gives his name to this book, was exempt from my reaction—PERSON, who represented everything for which I have an unaffected scorn. If personality is an unbroken series of successful gestures, then there was something gorgeous about him, some heightened sensitivity to the promises of life, as if he were related to one of those intricate machines that register earthquakes ten thousand miles away. This responsiveness had nothing to do with that flabby impressionability which is dignified under the name of the creative temperament—it was an extraordinary gift for hope, a romantic readiness such as I have never found in any other person and which it is not likely I shall ever find again.'

In [38]:
for ent in df_fitzgerald_f.spacy_words[3]:
    if ent.label_ in ['PERSON','FAC','GPE','LOC','ORG']:
        print(ent.text, ent.start_char, ent.end_char,
          ent.label_)

Gatsby 5 11 PERSON
Gatsby 82 88 PERSON

In [40]:
df_fitzgerald_f.to_csv("../Dataset_v3/deidentified/Fitzgerald_128_di.csv")

In [42]:
df_mark_f.to_csv("../Dataset_v3/deidentified/Mark_128_di.csv")
df_charles_f.to_csv("../Dataset_v3/deidentified/Charles_128_di.csv")