In [3]:
import torch
import pickle
import json
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import torch.nn as nn
from matplotlib import pyplot as plt
import spacy
import re

In [4]:
nlp = spacy.load("en_core_web_sm")

In [5]:
dirname = '../Dataset_v3/chunks/CharlesDickens/ATaleOfTwoCities_chunkByLength_256.csv'
charles1 = pd.read_csv(dirname)
print("Charles ATaleOfTwoCities_chunkByLength_256: {0} ".format(charles1.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/BarnabyRudge_chunkByLength_256.csv'
charles2 = pd.read_csv(dirname)
print("charles BarnabyRudge_chunkByLength_256: {0}" .format(charles2.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/DavidCopperfield_chunkByLength_256.csv'
charles3 = pd.read_csv(dirname)
print("charles DavidCopperfield_chunkByLength_256: {0}" .format(charles3.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/DombeyAndSon_chunkByLength_256.csv'
charles4 = pd.read_csv(dirname)
print("charles DombeyAndSon_chunkByLength_256: {0}" .format(charles4.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/GreatExpectations_chunkByLength_256.csv'
charles5 = pd.read_csv(dirname)
print("charles GreatExpectations_chunkByLength_256: {0}" .format(charles5.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/LittleDorrit_chunkByLength_256.csv'
charles6 = pd.read_csv(dirname)
print("charles LittleDorrit_chunkByLength_256: {0}" .format(charles6.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/OliverTwist_chunkByLength_256.csv'
charles7 = pd.read_csv(dirname)
print("charles OliverTwist_chunkByLength_256: {0}" .format(charles7.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/OurMutualFriend_chunkByLength_256.csv'
charles8 = pd.read_csv(dirname)
print("charles OurMutualFriend_chunkByLength_256: {0}" .format(charles8.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/TheChimes_chunkByLength_256.csv'
charles9 = pd.read_csv(dirname)
print("charles TheChimes_chunkByLength_256: {0}" .format(charles9.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/TheLifeAndAdventuresOfMartinChuzzlewit_chunkByLength_256.csv'
charles10 = pd.read_csv(dirname)
print("charles TheLifeAndAdventuresOfMartinChuzzlewit_chunkByLength_256: {0}" .format(charles10.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/TheLifeAndAdventuresOfNicholasNickleby_chunkByLength_256.csv'
charles11 = pd.read_csv(dirname)
print("charles TheLifeAndAdventuresOfNicholasNickleby_chunkByLength_256: {0}" .format(charles11.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/TheMysteryOfEdwinDrood_chunkByLength_256.csv'
charles12 = pd.read_csv(dirname)
print("charles TheMysteryOfEdwinDrood_chunkByLength_256: {0}" .format(charles12.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/TheOldCuriosityShop_chunkByLength_256.csv'
charles13 = pd.read_csv(dirname)
print("charles TheOldCuriosityShop_chunkByLength_256: {0}" .format(charles13.shape))

dirname = '../Dataset_v3/chunks/CharlesDickens/ThePickwickPapers_chunkByLength_256.csv'
charles14 = pd.read_csv(dirname)
print("charles ThePickwickPapers_chunkByLength_256: {0}" .format(charles14.shape))

Charles ATaleOfTwoCities_chunkByLength_256: (563, 11)
charles BarnabyRudge_chunkByLength_256: (1068, 11)
charles DavidCopperfield_chunkByLength_256: (1475, 11)
charles DombeyAndSon_chunkByLength_256: (1492, 11)
charles GreatExpectations_chunkByLength_256: (772, 11)
charles LittleDorrit_chunkByLength_256: (1410, 11)
charles OliverTwist_chunkByLength_256: (657, 11)
charles OurMutualFriend_chunkByLength_256: (1344, 11)
charles TheChimes_chunkByLength_256: (128, 11)
charles TheLifeAndAdventuresOfMartinChuzzlewit_chunkByLength_256: (1407, 11)
charles TheLifeAndAdventuresOfNicholasNickleby_chunkByLength_256: (1357, 11)
charles TheMysteryOfEdwinDrood_chunkByLength_256: (398, 11)
charles TheOldCuriosityShop_chunkByLength_256: (920, 11)
charles ThePickwickPapers_chunkByLength_256: (1249, 11)

In [6]:

dirname = '../Dataset_v3/chunks/Fitzgerald/The_Great_Gatsby_chunkByLength_256.csv'
Fitzgerald1 = pd.read_csv(dirname)
print("Fitzgerald The_Great_Gatsby: {0}".format(Fitzgerald1.shape))

dirname = '../Dataset_v3/chunks/Fitzgerald/TheBeautifulAndDamned_chunkByLength_256.csv'
Fitzgerald2 = pd.read_csv(dirname)
print("Fitzgerald TheBeautifulAndDamned_chunkByLength_256: {0}".format(Fitzgerald2.shape))

dirname = '../Dataset_v3/chunks/Fitzgerald/ThisSideOfParadise_chunkByLength_256.csv'
Fitzgerald3 = pd.read_csv(dirname)
print("Fitzgerald ThisSideOfParadise_chunkByLength_256: {0}".format(Fitzgerald3.shape))

dirname = '../Dataset_v3/chunks/Fitzgerald/FlappersAndPhilosophers_chunkByLength_256.csv'
Fitzgerald4 = pd.read_csv(dirname)
print("Fitzgerald FlappersAndPhilosophers_chunkByLength_256: {0}".format(Fitzgerald4.shape))

dirname = '../Dataset_v3/chunks/Fitzgerald/TalesOfTheJazzAge_chunkByLength_256.csv'
Fitzgerald5 = pd.read_csv(dirname)
print("Fitzgerald TalesOfTheJazzAge_chunkByLength_256: {0}".format(Fitzgerald5.shape))

Fitzgerald The_Great_Gatsby: (197, 11)
Fitzgerald TheBeautifulAndDamned_chunkByLength_256: (507, 11)
Fitzgerald ThisSideOfParadise_chunkByLength_256: (331, 11)
Fitzgerald FlappersAndPhilosophers_chunkByLength_256: (249, 11)
Fitzgerald TalesOfTheJazzAge_chunkByLength_256: (341, 11)

In [7]:

dirname = '../Dataset_v3/chunks/Jane/Pride_and_Prejudice_Jane_Austen_chunkByLength_256.csv'
Jane1 = pd.read_csv(dirname)
print("Jane Pride_and_Prejudice_Jane_Austen_chunkByLength_256: {0}".format(Jane1.shape))

dirname = '../Dataset_v3/chunks/Jane/Emma_Jane_Austen_chunkByLength_256.csv'
Jane2 = pd.read_csv(dirname)
print("Jane Emma_Jane_Austen_chunkByLength_256: {0}".format(Jane2.shape))

dirname = '../Dataset_v3/chunks/Jane/MansfieldPark_chunkByLength_256.csv'
Jane3 = pd.read_csv(dirname)
print("Jane MansfieldPark_chunkByLength_256: {0}".format(Jane3.shape))

dirname = '../Dataset_v3/chunks/Jane/NorthangerAbbey_chunkByLength_256.csv'
Jane4 = pd.read_csv(dirname)
print("Jane NorthangerAbbey_chunkByLength_256: {0}".format(Jane4.shape))

dirname = '../Dataset_v3/chunks/Jane/Persuasion_chunkByLength_256.csv'
Jane5 = pd.read_csv(dirname)
print("Jane Persuasion_chunkByLength_256: {0}".format(Jane5.shape))

dirname = '../Dataset_v3/chunks/Jane/SenseAndSensibility_chunkByLength_256.csv'
Jane6 = pd.read_csv(dirname)
print("Jane SenseAndSensibility_chunkByLength_256: {0}".format(Jane6.shape))

Jane Pride_and_Prejudice_Jane_Austen_chunkByLength_256: (506, 11)
Jane Emma_Jane_Austen_chunkByLength_256: (668, 11)
Jane MansfieldPark_chunkByLength_256: (679, 11)
Jane NorthangerAbbey_chunkByLength_256: (325, 11)
Jane Persuasion_chunkByLength_256: (352, 11)
Jane SenseAndSensibility_chunkByLength_256: (503, 11)

In [8]:
dirname = '../Dataset_v3/chunks/Mark/TheAdventuresOfTomSawyer_chunkByLength_256.csv'
Mark1 = pd.read_csv(dirname)
print("Mark TheAdventuresOfTomSawyer: {0}".format(Mark1.shape))

dirname = '../Dataset_v3/chunks/Mark/ThePrinceAndThePauper_chunkByLength_256.csv'
Mark2 = pd.read_csv(dirname)
print("Mark ThePrinceAndThePauper_chunkByLength_256: {0}".format(Mark2.shape))


dirname = '../Dataset_v3/chunks/Mark/AConnecticutYankeeInKingArthursCourt_chunkByLength_256.csv'
Mark3 = pd.read_csv(dirname)
print("Mark AConnecticutYankeeInKingArthursCourt_chunkByLength_256: {0}".format(Mark3.shape))


dirname = '../Dataset_v3/chunks/Mark/LifeOnTheMississippi_chunkByLength_256.csv'
Mark4 = pd.read_csv(dirname)
print("Mark LifeOnTheMississippi_chunkByLength_256: {0}".format(Mark4.shape))

dirname = '../Dataset_v3/chunks/Mark/TheMysteriousStranger_chunkByLength_256.csv'
Mark5 = pd.read_csv(dirname)
print("Mark TheMysteriousStranger_chunkByLength_256: {0}".format(Mark5.shape))

dirname = '../Dataset_v3/chunks/Mark/TheTragedyOfPuddnheadWilson_chunkByLength_256.csv'
Mark6 = pd.read_csv(dirname)
print("Mark TheTragedyOfPuddnheadWilson_chunkByLength_256: {0}".format(Mark6.shape))

Mark TheAdventuresOfTomSawyer: (288, 11)
Mark ThePrinceAndThePauper_chunkByLength_256: (280, 11)
Mark AConnecticutYankeeInKingArthursCourt_chunkByLength_256: (488, 11)
Mark LifeOnTheMississippi_chunkByLength_256: (599, 11)
Mark TheMysteriousStranger_chunkByLength_256: (174, 11)
Mark TheTragedyOfPuddnheadWilson_chunkByLength_256: (214, 11)

In [9]:
dirname = '../Dataset_v3/chunks/Various/AlicesAdventuresInWonderlandByLewisCarroll_chunkByLength_256.csv'
Various1 = pd.read_csv(dirname)
print("Various AlicesAdventuresInWonderlandByLewisCarroll_chunkByLength_256: {0}".format(Various1.shape))


dirname = '../Dataset_v3/chunks/Various/AModestProposalByJonathanSwift_chunkByLength_256.csv'
Various2 = pd.read_csv(dirname)
print("Various AModestProposalByJonathanSwift_chunkByLength_256: {0}".format(Various2.shape))

dirname = '../Dataset_v3/chunks/Various/FrankensteinOrTheModernPrometheusByMaryWollstonecraftShelley_chunkByLength_256.csv'
Various3 = pd.read_csv(dirname)
print("Various FrankensteinOrTheModernPrometheusByMaryWollstonecraftShelley_chunkByLength_256: {0}".format(Various3.shape))

dirname = '../Dataset_v3/chunks/Various/MetamorphosisByFranzKafka_chunkByLength_256.csv'
Various4 = pd.read_csv(dirname)
print("Various MetamorphosisByFranzKafka_chunkByLength_256: {0}".format(Various4.shape))

dirname = '../Dataset_v3/chunks/Various/MobyDickOrTheWhalebyHermanMelville_chunkByLength_256.csv'
Various5 = pd.read_csv(dirname)
print("Various MobyDickOrTheWhalebyHermanMelville_chunkByLength_256: {0}".format(Various5.shape))

dirname = '../Dataset_v3/chunks/Various/TheAdventuresofSherlockHolmesbyArthurConanDoyle_chunkByLength_256.csv'
Various6 = pd.read_csv(dirname)
print("Various TheAdventuresofSherlockHolmesbyArthurConanDoyle_chunkByLength_256: {0}".format(Various6.shape))

dirname = '../Dataset_v3/chunks/Various/TheImportanceOfBeingEarnestATrivialComedyForSeriousPeopleByOscarWilde_chunkByLength_256.csv'
Various7 = pd.read_csv(dirname)
print("Various TheImportanceOfBeingEarnestATrivialComedyForSeriousPeopleByOscarWilde_chunkByLength_256: {0}".format(Various7.shape))


dirname = '../Dataset_v3/chunks/Various/TheScarletLetterbyNathanielHawthorne_chunkByLength_256.csv'
Various8 = pd.read_csv(dirname)
print("Various TheScarletLetterbyNathanielHawthorne_chunkByLength_256: {0}".format(Various8.shape))

dirname = '../Dataset_v3/chunks/Various/TheStrangeCaseofDrJekyllandMrHydebyRobertLouisStevenson_chunkByLength_256.csv'
Various9 = pd.read_csv(dirname)
print("Various TheStrangeCaseofDrJekyllandMrHydebyRobertLouisStevenson_chunkByLength_256: {0}".format(Various9.shape))

dirname = '../Dataset_v3/chunks/Various/TheYellowWallpaperbyCharlottePerkinsGilman_chunkByLength_256.csv'
Various10 = pd.read_csv(dirname)
print("Various TheYellowWallpaperbyCharlottePerkinsGilman_chunkByLength_256: {0}".format(Various10.shape))

Various AlicesAdventuresInWonderlandByLewisCarroll_chunkByLength_256: (111, 11)
Various AModestProposalByJonathanSwift_chunkByLength_256: (15, 11)
Various FrankensteinOrTheModernPrometheusByMaryWollstonecraftShelley_chunkByLength_256: (312, 11)
Various MetamorphosisByFranzKafka_chunkByLength_256: (94, 11)
Various MobyDickOrTheWhalebyHermanMelville_chunkByLength_256: (879, 11)
Various TheAdventuresofSherlockHolmesbyArthurConanDoyle_chunkByLength_256: (429, 11)
Various TheImportanceOfBeingEarnestATrivialComedyForSeriousPeopleByOscarWilde_chunkByLength_256: (83, 11)
Various TheScarletLetterbyNathanielHawthorne_chunkByLength_256: (349, 11)
Various TheStrangeCaseofDrJekyllandMrHydebyRobertLouisStevenson_chunkByLength_256: (108, 11)
Various TheYellowWallpaperbyCharlottePerkinsGilman_chunkByLength_256: (25, 11)

In [10]:
charleslist = [charles1, charles2, charles3, charles4, charles5, charles6, charles7,
              charles8, charles9, charles10, charles11,charles12,charles13,charles14]
marklist = [Mark1, Mark2, Mark3, Mark4, Mark5, Mark6]
variouslsit = [Various1, Various2, Various3, Various4, Various5, Various6, Various7, Various8,
              Various9, Various10]
janelist = [Jane1, Jane2, Jane3, Jane4, Jane5, Jane6]
fitzgeraldlist = [Fitzgerald1, Fitzgerald2, Fitzgerald3, Fitzgerald4,Fitzgerald5]

In [16]:
# 14240 Charles Dickens 
# 2043 Mark Twain
# 2405 various /blog
# 3033 Jane Austen
# 1625 Fitzgerald

totcount = 0
for df in fitzgeraldlist:
    totcount += df.shape[0]
totcount

1625

* Mark Twain: Mark + Various
* Fitzgerald: Fitzgerald + Various 
* Charles: Charles + all

In [49]:
df_charles = pd.concat(charleslist,ignore_index=True)
df_charles['Label'] = "1"
df_charles = df_charles[['Text','Label']]

df_others = pd.concat(marklist +variouslsit+ janelist +fitzgeraldlist,ignore_index=True)
df_others['Label'] = "0"
df_others = df_others[['Text','Label']]

df_charles_f = pd.concat([df_charles,df_others],ignore_index=True)
print(df_charles_f.shape[0])
df_charles_f.Label.describe()

23346

count     23346
unique        2
top           1
freq      14240
Name: Label, dtype: object

In [50]:
df_mark = pd.concat(marklist,ignore_index=True)
df_mark['Label'] = "1"
df_mark = df_mark[['Text','Label']]

df_others = pd.concat(variouslsit,ignore_index=True)
df_others['Label'] = "0"
df_others = df_others[['Text','Label']]

df_mark_f = pd.concat([df_mark,df_others],ignore_index=True)
print(df_mark_f.shape[0])
df_mark_f.Label.describe()

4448

count     4448
unique       2
top          0
freq      2405
Name: Label, dtype: object

In [39]:
df_fitzgerald = pd.concat(fitzgeraldlist,ignore_index=True)
df_fitzgerald['Label'] = "1"
df_fitzgerald = df_fitzgerald[['Text','Label']]

df_others = pd.concat(variouslsit,ignore_index=True)
df_others['Label'] = "0"
df_others = df_others[['Text','Label']]

df_fitzgerald_f = pd.concat([df_fitzgerald,df_others],ignore_index=True)
print(df_fitzgerald_f.shape[0])
df_fitzgerald_f.Label.describe()

4030

count     4030
unique       2
top          0
freq      2405
Name: Label, dtype: object

In [40]:
# apply on the df['Text']
# retain all columns and add addtional columns spacy_words
def NER_replace(df):
    df['spacy_words'] = df['Text'].apply(lambda x: list(nlp(x).ents))
    for index, row in df.iterrows():
        thistext = row.Text
        for ent in row.spacy_words:
            if ent.label_ in ['PERSON','FAC','GPE','LOC','ORG']:
                thistext = thistext.replace(ent.text,ent.label_)
        df.at[index, 'Text'] = thistext
    return df

In [41]:
df_fitzgerald_f = NER_replace(df_fitzgerald_f)

In [51]:
df_mark_f = NER_replace(df_mark_f)
df_charles_f = NER_replace(df_charles_f)

In [47]:
df_fitzgerald_f.Text[1]

'And, after boasting this way of my tolerance, I come to the admission that it has a limit. Conduct may be founded on the hard rock or the wet marshes, but after a certain point I don’t care what it’s founded on. When I came back from the East last autumn I felt that I wanted the world to be in uniform and at a sort of moral attention forever; I wanted no more riotous excursions with privileged glimpses into the human heart. PERSON, the man who gives his name to this book, was exempt from my reaction—PERSON, who represented everything for which I have an unaffected scorn. If personality is an unbroken series of successful gestures, then there was something gorgeous about him, some heightened sensitivity to the promises of life, as if he were related to one of those intricate machines that register earthquakes ten thousand miles away. This responsiveness had nothing to do with that flabby impressionability which is dignified under the name of the creative temperament—it was an extraordinary gift for hope, a romantic readiness such as I have never found in any other person and which it is not likely I shall ever find again. No—PERSON turned out all right at the end; it is what preyed on PERSON, what foul dust floated in the wake of his dreams that temporarily closed out my interest in the abortive sorrows and short-winded elations of men. My family have been prominent, well-to-do people in this LOC city for three generations.'

In [48]:
for ent in df_fitzgerald_f.spacy_words[1]:
    if ent.label_ in ['PERSON','FAC','GPE','LOC','ORG']:
        print(ent.text, ent.start_char, ent.end_char,
          ent.label_)

Only Gatsby 428 439 PERSON
Gatsby 510 516 PERSON
Gatsby 1147 1153 PERSON
Gatsby 1208 1214 PERSON
Middle Western 1420 1434 LOC

In [44]:
df_fitzgerald_f.to_csv("../Dataset_v3/deidentified/Fitzgerald_256_di.csv")

In [52]:
df_mark_f.to_csv("../Dataset_v3/deidentified/Mark_256_di.csv")
df_charles_f.to_csv("../Dataset_v3/deidentified/Charles_256_di.csv")