In [1]:
import torch
import pickle
import json
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import torch.nn as nn
from matplotlib import pyplot as plt
import spacy
import re

In [2]:
nlp = spacy.load("en_core_web_sm")

In [3]:
dirname = '../Dataset_v3/cleaned/CharlesDickens/ATaleOfTwoCities.csv'
charles1 = pd.read_csv(dirname)
print("Charles ATaleOfTwoCities: {0} ".format(charles1.shape))

dirname = '../Dataset_v3/cleaned/CharlesDickens/BarnabyRudge.csv'
charles2 = pd.read_csv(dirname)
print("charles BarnabyRudge: {0}" .format(charles2.shape))

dirname = '../Dataset_v3/cleaned/CharlesDickens/DavidCopperfield.csv'
charles3 = pd.read_csv(dirname)
print("charles DavidCopperfield: {0}" .format(charles3.shape))

dirname = '../Dataset_v3/cleaned/CharlesDickens/DombeyAndSon.csv'
charles4 = pd.read_csv(dirname)
print("charles DombeyAndSon: {0}" .format(charles4.shape))

dirname = '../Dataset_v3/cleaned/CharlesDickens/GreatExpectations.csv'
charles5 = pd.read_csv(dirname)
print("charles GreatExpectations: {0}" .format(charles5.shape))

dirname = '../Dataset_v3/cleaned/CharlesDickens/LittleDorrit.csv'
charles6 = pd.read_csv(dirname)
print("charles LittleDorrit: {0}" .format(charles6.shape))

dirname = '../Dataset_v3/cleaned/CharlesDickens/OliverTwist.csv'
charles7 = pd.read_csv(dirname)
print("charles OliverTwist: {0}" .format(charles7.shape))

dirname = '../Dataset_v3/cleaned/CharlesDickens/OurMutualFriend.csv'
charles8 = pd.read_csv(dirname)
print("charles OurMutualFriend: {0}" .format(charles8.shape))

dirname = '../Dataset_v3/cleaned/CharlesDickens/TheChimes.csv'
charles9 = pd.read_csv(dirname)
print("charles TheChimes: {0}" .format(charles9.shape))

dirname = '../Dataset_v3/cleaned/CharlesDickens/TheLifeAndAdventuresOfMartinChuzzlewit.csv'
charles10 = pd.read_csv(dirname)
print("charles TheLifeAndAdventuresOfMartinChuzzlewit: {0}" .format(charles10.shape))

dirname = '../Dataset_v3/cleaned/CharlesDickens/TheLifeAndAdventuresOfNicholasNickleby.csv'
charles11 = pd.read_csv(dirname)
print("charles TheLifeAndAdventuresOfNicholasNickleby: {0}" .format(charles11.shape))

dirname = '../Dataset_v3/cleaned/CharlesDickens/TheMysteryOfEdwinDrood.csv'
charles12 = pd.read_csv(dirname)
print("charles TheMysteryOfEdwinDrood: {0}" .format(charles12.shape))

dirname = '../Dataset_v3/cleaned/CharlesDickens/TheOldCuriosityShop.csv'
charles13 = pd.read_csv(dirname)
print("charles TheOldCuriosityShop: {0}" .format(charles13.shape))

dirname = '../Dataset_v3/cleaned/CharlesDickens/ThePickwickPapers.csv'
charles14 = pd.read_csv(dirname)
print("charles ThePickwickPapers: {0}" .format(charles14.shape))

Charles ATaleOfTwoCities: (7445, 6)
charles BarnabyRudge: (11785, 6)
charles DavidCopperfield: (18131, 6)
charles DombeyAndSon: (16637, 6)
charles GreatExpectations: (9131, 6)
charles LittleDorrit: (17274, 6)
charles OliverTwist: (8197, 6)
charles OurMutualFriend: (18947, 6)
charles TheChimes: (2025, 6)
charles TheLifeAndAdventuresOfMartinChuzzlewit: (18253, 6)
charles TheLifeAndAdventuresOfNicholasNickleby: (15061, 6)
charles TheMysteryOfEdwinDrood: (5412, 6)
charles TheOldCuriosityShop: (9634, 6)
charles ThePickwickPapers: (14659, 6)

In [4]:

dirname = '../Dataset_v3/cleaned/Fitzgerald/The_Great_Gatsby.csv'
Fitzgerald1 = pd.read_csv(dirname)
print("Fitzgerald The_Great_Gatsby: {0}".format(Fitzgerald1.shape))

dirname = '../Dataset_v3/cleaned/Fitzgerald/TheBeautifulAndDamned.csv'
Fitzgerald2 = pd.read_csv(dirname)
print("Fitzgerald TheBeautifulAndDamned: {0}".format(Fitzgerald2.shape))

dirname = '../Dataset_v3/cleaned/Fitzgerald/ThisSideOfParadise.csv'
Fitzgerald3 = pd.read_csv(dirname)
print("Fitzgerald ThisSideOfParadise: {0}".format(Fitzgerald3.shape))

dirname = '../Dataset_v3/cleaned/Fitzgerald/FlappersAndPhilosophers.csv'
Fitzgerald4 = pd.read_csv(dirname)
print("Fitzgerald FlappersAndPhilosophers: {0}".format(Fitzgerald4.shape))

dirname = '../Dataset_v3/cleaned/Fitzgerald/TalesOfTheJazzAge.csv'
Fitzgerald5 = pd.read_csv(dirname)
print("Fitzgerald TalesOfTheJazzAge: {0}".format(Fitzgerald5.shape))

Fitzgerald The_Great_Gatsby: (3264, 6)
Fitzgerald TheBeautifulAndDamned: (8544, 6)
Fitzgerald ThisSideOfParadise: (5367, 6)
Fitzgerald FlappersAndPhilosophers: (4652, 6)
Fitzgerald TalesOfTheJazzAge: (6211, 6)

In [5]:

dirname = '../Dataset_v3/cleaned/Jane/Pride_and_Prejudice_Jane_Austen.csv'
Jane1 = pd.read_csv(dirname)
print("Jane Pride_and_Prejudice_Jane_Austen: {0}".format(Jane1.shape))

dirname = '../Dataset_v3/cleaned/Jane/Emma_Jane_Austen.csv'
Jane2 = pd.read_csv(dirname)
print("Jane Emma_Jane_Austen: {0}".format(Jane2.shape))

dirname = '../Dataset_v3/cleaned/Jane/MansfieldPark.csv'
Jane3 = pd.read_csv(dirname)
print("Jane MansfieldPark: {0}".format(Jane3.shape))

dirname = '../Dataset_v3/cleaned/Jane/NorthangerAbbey.csv'
Jane4 = pd.read_csv(dirname)
print("Jane NorthangerAbbey: {0}".format(Jane4.shape))

dirname = '../Dataset_v3/cleaned/Jane/Persuasion.csv'
Jane5 = pd.read_csv(dirname)
print("Jane Persuasion: {0}".format(Jane5.shape))

dirname = '../Dataset_v3/cleaned/Jane/SenseAndSensibility.csv'
Jane6 = pd.read_csv(dirname)
print("Jane SenseAndSensibility: {0}".format(Jane6.shape))

Jane Pride_and_Prejudice_Jane_Austen: (5978, 6)
Jane Emma_Jane_Austen: (7470, 6)
Jane MansfieldPark: (6753, 6)
Jane NorthangerAbbey: (3480, 6)
Jane Persuasion: (3744, 6)
Jane SenseAndSensibility: (4954, 6)

In [6]:
dirname = '../Dataset_v3/cleaned/Mark/TheAdventuresOfTomSawyer.csv'
Mark1 = pd.read_csv(dirname)
print("Mark TheAdventuresOfTomSawyer: {0}".format(Mark1.shape))

dirname = '../Dataset_v3/cleaned/Mark/ThePrinceAndThePauper.csv'
Mark2 = pd.read_csv(dirname)
print("Mark ThePrinceAndThePauper: {0}".format(Mark2.shape))


dirname = '../Dataset_v3/cleaned/Mark/AConnecticutYankeeInKingArthursCourt.csv'
Mark3 = pd.read_csv(dirname)
print("Mark AConnecticutYankeeInKingArthursCourt: {0}".format(Mark3.shape))


dirname = '../Dataset_v3/cleaned/Mark/LifeOnTheMississippi.csv'
Mark4 = pd.read_csv(dirname)
print("Mark LifeOnTheMississippi: {0}".format(Mark4.shape))

dirname = '../Dataset_v3/cleaned/Mark/TheMysteriousStranger.csv'
Mark5 = pd.read_csv(dirname)
print("Mark TheMysteriousStranger: {0}".format(Mark5.shape))

dirname = '../Dataset_v3/cleaned/Mark/TheTragedyOfPuddnheadWilson.csv'
Mark6 = pd.read_csv(dirname)
print("Mark TheTragedyOfPuddnheadWilson: {0}".format(Mark6.shape))

Mark TheAdventuresOfTomSawyer: (5002, 6)
Mark ThePrinceAndThePauper: (3448, 6)
Mark AConnecticutYankeeInKingArthursCourt: (6369, 6)
Mark LifeOnTheMississippi: (7004, 6)
Mark TheMysteriousStranger: (2131, 6)
Mark TheTragedyOfPuddnheadWilson: (2909, 6)

In [7]:
dirname = '../Dataset_v3/cleaned/Various/AlicesAdventuresInWonderlandByLewisCarroll.csv'
Various1 = pd.read_csv(dirname)
print("Various AlicesAdventuresInWonderlandByLewisCarroll: {0}".format(Various1.shape))


dirname = '../Dataset_v3/cleaned/Various/AModestProposalByJonathanSwift.csv'
Various2 = pd.read_csv(dirname)
print("Various AModestProposalByJonathanSwift: {0}".format(Various2.shape))

dirname = '../Dataset_v3/cleaned/Various/FrankensteinOrTheModernPrometheusByMaryWollstonecraftShelley.csv'
Various3 = pd.read_csv(dirname)
print("Various FrankensteinOrTheModernPrometheusByMaryWollstonecraftShelley: {0}".format(Various3.shape))

dirname = '../Dataset_v3/cleaned/Various/MetamorphosisByFranzKafka.csv'
Various4 = pd.read_csv(dirname)
print("Various MetamorphosisByFranzKafka: {0}".format(Various4.shape))

dirname = '../Dataset_v3/cleaned/Various/MobyDickOrTheWhalebyHermanMelville.csv'
Various5 = pd.read_csv(dirname)
print("Various MobyDickOrTheWhalebyHermanMelville: {0}".format(Various5.shape))

dirname = '../Dataset_v3/cleaned/Various/TheAdventuresofSherlockHolmesbyArthurConanDoyle.csv'
Various6 = pd.read_csv(dirname)
print("Various TheAdventuresofSherlockHolmesbyArthurConanDoyle: {0}".format(Various6.shape))

dirname = '../Dataset_v3/cleaned/Various/TheImportanceOfBeingEarnestATrivialComedyForSeriousPeopleByOscarWilde.csv'
Various7 = pd.read_csv(dirname)
print("Various TheImportanceOfBeingEarnestATrivialComedyForSeriousPeopleByOscarWilde: {0}".format(Various7.shape))


dirname = '../Dataset_v3/cleaned/Various/TheScarletLetterbyNathanielHawthorne.csv'
Various8 = pd.read_csv(dirname)
print("Various TheScarletLetterbyNathanielHawthorne: {0}".format(Various8.shape))

dirname = '../Dataset_v3/cleaned/Various/TheStrangeCaseofDrJekyllandMrHydebyRobertLouisStevenson.csv'
Various9 = pd.read_csv(dirname)
print("Various TheStrangeCaseofDrJekyllandMrHydebyRobertLouisStevenson: {0}".format(Various9.shape))

dirname = '../Dataset_v3/cleaned/Various/TheYellowWallpaperbyCharlottePerkinsGilman.csv'
Various10 = pd.read_csv(dirname)
print("Various TheYellowWallpaperbyCharlottePerkinsGilman: {0}".format(Various10.shape))

Various AlicesAdventuresInWonderlandByLewisCarroll: (1336, 6)
Various AModestProposalByJonathanSwift: (67, 6)
Various FrankensteinOrTheModernPrometheusByMaryWollstonecraftShelley: (3354, 6)
Various MetamorphosisByFranzKafka: (799, 6)
Various MobyDickOrTheWhalebyHermanMelville: (9134, 6)
Various TheAdventuresofSherlockHolmesbyArthurConanDoyle: (6534, 6)
Various TheImportanceOfBeingEarnestATrivialComedyForSeriousPeopleByOscarWilde: (3254, 6)
Various TheScarletLetterbyNathanielHawthorne: (3432, 6)
Various TheStrangeCaseofDrJekyllandMrHydebyRobertLouisStevenson: (1115, 6)
Various TheYellowWallpaperbyCharlottePerkinsGilman: (389, 6)

In [8]:
charleslist = [charles1, charles2, charles3, charles4, charles5, charles6, charles7,
              charles8, charles9, charles10, charles11,charles12,charles13,charles14]
marklist = [Mark1, Mark2, Mark3, Mark4, Mark5, Mark6]
variouslsit = [Various1, Various2, Various3, Various4, Various5, Various6, Various7, Various8,
              Various9, Various10]
janelist = [Jane1, Jane2, Jane3, Jane4, Jane5, Jane6]
fitzgeraldlist = [Fitzgerald1, Fitzgerald2, Fitzgerald3, Fitzgerald4,Fitzgerald5]

In [13]:
# 172591 Charles Dickens 
# 26863 Mark Twain
# 29414 various 
# 32379 Jane Austen
# 28038 Fitzgerald

totcount = 0
for df in charleslist:
    totcount += df.shape[0]
totcount

172591

* Mark Twain: Mark + Various
* Fitzgerald: Fitzgerald + Various 
* Charles: Charles + all

In [14]:
df_charles = pd.concat(charleslist,ignore_index=True)
df_charles['Label'] = "1"
df_charles = df_charles[['Text','Label']]

df_others = pd.concat(marklist +variouslsit+ janelist +fitzgeraldlist,ignore_index=True)
df_others['Label'] = "0"
df_others = df_others[['Text','Label']]

df_charles_f = pd.concat([df_charles,df_others],ignore_index=True)
print(df_charles_f.shape[0])
df_charles_f.Label.describe()

289285

count     289285
unique         2
top            1
freq      172591
Name: Label, dtype: object

In [29]:
df_mark = pd.concat(marklist,ignore_index=True)
df_mark['Label'] = "1"
df_mark = df_mark[['Text','Label']]

df_others = pd.concat(variouslsit,ignore_index=True)
df_others['Label'] = "0"
df_others = df_others[['Text','Label']]

df_mark_f = pd.concat([df_mark,df_others],ignore_index=True)
print(df_mark_f.shape[0])
df_mark_f.Label.describe()

9392

count     9392
unique       2
top          0
freq      5097
Name: Label, dtype: object

In [15]:
df_fitzgerald = pd.concat(fitzgeraldlist,ignore_index=True)
df_fitzgerald['Label'] = "1"
df_fitzgerald = df_fitzgerald[['Text','Label']]

df_others = pd.concat(variouslsit,ignore_index=True)
df_others['Label'] = "0"
df_others = df_others[['Text','Label']]

df_fitzgerald_f = pd.concat([df_fitzgerald,df_others],ignore_index=True)
print(df_fitzgerald_f.shape[0])
df_fitzgerald_f.Label.describe()

57452

count     57452
unique        2
top           0
freq      29414
Name: Label, dtype: object

In [16]:
# apply on the df['Text']
# retain all columns and add addtional columns spacy_words
def NER_replace(df):
    df['spacy_words'] = df['Text'].apply(lambda x: list(nlp(x).ents))
    for index, row in df.iterrows():
        thistext = row.Text
        for ent in row.spacy_words:
            if ent.label_ in ['PERSON','FAC','GPE','LOC','ORG']:
                thistext = thistext.replace(ent.text,ent.label_)
        df.at[index, 'Text'] = thistext
    return df

In [ ]:
df_fitzgerald_f = NER_replace(df_fitzgerald_f)

In [ ]:
#df_mark_f = NER_replace(df_mark_f)
df_charles_f = NER_replace(df_charles_f)

In [ ]:
df_fitzgerald_f.Text[3]

In [ ]:
for ent in df_fitzgerald_f.spacy_words[3]:
    if ent.label_ in ['PERSON','FAC','GPE','LOC','ORG']:
        print(ent.text, ent.start_char, ent.end_char,
          ent.label_)

In [40]:
df_fitzgerald_f.to_csv("../Dataset_v3/deidentified/Fitzgerald_sent_di.csv")

In [42]:
df_charles_f.to_csv("../Dataset_v3/deidentified/Charles_sent_di.csv")

In [ ]:
df_mark_f.to_csv("../Dataset_v3/deidentified/Mark_sent_di.csv")